<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>619353262412-trn60e34a32fqfs2epprtofcd7bhq97s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.619353262412-trn60e34a32fqfs2epprtofcd7bhq97s</string>
	<key>API_KEY</key>
	<string>AIzaSyCHkEgPBkGLBB0IiIr3-QyvPjvRPY_ClqA</string>
	<key>GCM_SENDER_ID</key>
	<string>619353262412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yourteam</string>
	<key>PROJECT_ID</key>
	<string>yourteam-ec310</string>
	<key>STORAGE_BUCKET</key>
	<string>yourteam-ec310.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619353262412:ios:12a4971964f7fd473527e9</string>
</dict>
</plist>